
.section {
    height: 100vh;
    /* Cada sección ocupa toda la ventana */
    scroll-snap-align: start;
    /* Detén el scroll al inicio de cada sección */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    font-size: 1.5rem;
}


.s1 {
    color: #fff;
    align-content: center;
}
