/* General secciones */
:root {
  --color-background: #0a0a0f;
  --color-card: #121218;
  --color-border: #1e1e2a;
  --color-text: #ffffff;
  --color-text-secondary: #a0a0b0;
  --color-purple: #a78bfa;
  --color-pink: #4f6bda;
  --border-radius: 12px;
  --transition-standard: all 0.3s ease;
}

/* 
background: linear-gradient(to right, var(--color-purple), var(--color-pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
*/

.tittle-contact {
  font-family: 'Fuente4';
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(to right, var(--color-purple), var(--color-pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  }

  .form-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }

  .custom-card {
    background-color: #12141b4b;
    padding: 60px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.265);
    max-width: 500px;
    width: 100%;
    border: 1px solid hwb(220 28% 30% / 0.15);
  }

  .form-control {
    background-color: #1d2230;
    color: #f0f0f0;
    border: 1px solid #3b4d6d;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition:
      border-color 0.3s,
      box-shadow 0.3s;
  }

  .form-control::placeholder {
    color: #8a9ab3;
  }

  .form-control:focus {
    border-color: #ffffff;
    box-shadow: 0 0 10px rgba(242, 243, 246, 0.2);
    background-color: #222735;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  @media (max-width: 500px) {
    .custom-card {
      padding: 20px;
    }

    .form-control {
      font-size: 0.95rem;
      padding: 0.65rem 0.9rem;
    }
  }