.footer {
    background-color: #000000;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 100;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    padding: 0px;
}

.contact {
    font-family: 'Fuente3', sans-serif;
    font-size: 1rem;
    margin-top: 3px;
}


.social-icons {
    display: flex;
    /* Organiza los enlaces horizontalmente */
    justify-content: center;
    /* Centra todos los enlaces */
    gap: 20px;
    /* Espaciado entre cada enlace (LinkedIn y GitHub) */
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    gap: 8px;
    font-family: 'Fuente3', sans-serif;
    font-size: 1rem;
}

.social-icon {
    font-size: 25px;
    margin-top: 8px;
}

.social-link:hover {
    color: #517bdd;
    transition: all 0.3s ease-in-out;

}

.copyright {
    font-family: 'Fuente3', sans-serif;
    font-size: 11px;
}