@import "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    background-image: url("../assets/images/Fondo.jpg");
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

footer {
    margin-top: auto;
}
