/* General secciones */
:root {
  --color-background: #0a0a0f;
  --color-card: #121218;
  --color-border: #1e1e2a;
  --color-text: #ffffff;
  --color-text-secondary: #a0a0b0;
  --color-purple: #a78bfa;
  --color-pink: #4f6bda;
  --border-radius: 12px;
  --transition-standard: all 0.3s ease;
}

/* 
background: linear-gradient(to right, var(--color-purple), var(--color-pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
*/
.header {
  position: fixed; /* Fija el navbar en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Asegura que ocupe todo el ancho */

  display: flex;
  padding: 10px 20px;

  background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  color: white;
  z-index: 100; /* Asegura que esté encima del contenido */

  /* Centrar el contenido vertical y horizontal */
  align-content: center;
  justify-content: center;
}


nav {
  gap: 15px;
}

.nav-header {
  font-family: 'Fuente4';
  font-size: 1rem;
  text-decoration: none;
  color: azure;
  padding: 5px 10px;
}

.nav-header:hover {
  color: #517bdd;
  transition: all 0.3s ease-in-out;

}
