.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 25px;
}

.header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: auto;
  height: auto;
 
}

.header::after {
  background: rgba(0,0,0,0.5);
}

nav {
  gap: 15px;
  display: flex;
  align-items: center;
}

.nav-footer {
  font-family: 'Fuente3', sans-serif;
  font-size: 1.5rem;
  padding: 10px;
  color: white;
  text-decoration: none
}

.nav-footer:hover {
  color: #517bdd;

}

i {
  justify-content: space-between;
  align-items: center;
}