.categoria{
    color: white;
    margin-top: 20px;   
}

.containerProjects{
    margin: auto;
    width: 85%;
}
.card {
    background-color: rgba(0, 0, 0, 0.461);
    color: white;
    margin-top: 10px;
    border-radius: 35px;
}

.navbars{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.type {
    font-size: 1rem;

}
.title {
    font-size: 1rem;

}
.start_date {
    font-size: 1rem;

}
.end_date {
    font-size: 1rem;

}
.image64 {
    font-size: 1rem;

}
.imagemime {
    font-size: 1rem;

}
.description {
    font-size: 1rem;

}
.lastedition {
    font-size: 1rem;

}

