.card {
    background-color: rgba(0, 0, 0, 0.461);
    color: white;
    margin-top: 10px;
    border-radius: 35px;
}
.navbars{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;

}

.type {

}
.title {

}
.start_date {

}
.end_date {

}
.image64 {

}
.imagemime {

}
.description {

}
.lastedition {

}

