---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import "../styles/about.css";
---

<Layout>

    <section class="section s1">
        <h1 class="capital-tittle">
            BIENVENIDO ACA
        </h1>
    </section>
    
</Layout>