---
import Layout from "../layouts/Layout.astro";
import ContactmeComponent from "../components/Contactme/ContactmeComponent.astro";
import BtnContactame from "../components/Buttons/BtnContactame.astro";
import BtnGmail from "../components/Buttons/BtnGmail.astro";
import BtnLinkedin from "../components/Buttons/BtnLinkedin.astro";

// Aquí importamos el componente React como un componente de Astro

import MainProject from "../components/Projects/MainProject";
import "../styles/global.css";
import "../styles/components.css";
import "../styles/index.css";
import "bootstrap/dist/css/bootstrap.min.css";
import miImg from "../assets/images/miImg.png";
---

<Layout>
    <section class="section s1">
        <div class="container">
            <div class="row">
                <div class="col column1">
                    <img src={miImg.src} class="img" />
                    <div class="disponible">
                        <a
                            href="https://www.linkedin.com/in/manuel-zepeda-79383a33a/"
                            style="text-decoration: none; color:white; opacity:75%;"
                        >
                            Disponible para trabajar
                        </a>
                    </div>
                </div>

                <div class="col column2">
                    <h1 class="capital-tittle" style="font-size : 4rem;">
                        Manuel Zepeda
                    </h1>
                    <h3 class="tittle">
                        Desarrollador <code
                            class="tittle"
                            style="color: aquamarine;">Full Stack</code
                        >
                    </h3>
                </div>
            </div>
        </div>
        <br />
        <div class="container" style="opacity : 75%;">
            <p>
                Bienvenido a mi Portfolio, continua bajando para ver mis
                proyectos, <br /> si las estrellas te resultan molestas puedes quitarlas
            </p>
        </div>
    </section>

    <section class="section s2" style="overflow-y: auto;">
        <div class="container">
            <h2 class="tittle" style="color: white;">Mis Proyectos</h2>
            <MainProject client:only />
        </div>
    </section>

    <section class="section s3">
        <div class="container margins3">
            <div class="together">
                <div class="row">
                    <div class="col colu1-s3">
                        <h2
                            style="font-family: 'Fuente4';font-size: 2rem; color:white;"
                        >
                            ¿Tienes algun proyecto?
                        </h2>
                        <h4
                            class="tittle"
                            style="font-size: 1rem; color:white;"
                        >
                            No trabajes solo, trabaja conmigo
                        </h4>
                    </div>
                    <div class="col colu2-s3" style="color: white;">
                        <BtnContactame/>
                        <BtnLinkedin/>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section s4">
        <div class="container">
            <h2 class="tittle">Mi experiencia</h2>
            <div class="container margin-prub">
                <h1>HOLA BIENVENIDO</h1>
                <h1>Hola bienvenido</h1>
            </div>
        </div>
    </section>

    <section class="section s5">
        <div class="container">
            <div class="row">
                <ContactmeComponent />
            </div>
        </div>
    </section>
</Layout>
