---
import Layout from "../layouts/Layout.astro";
import Me from "./me.astro";

// Aquí importamos el componente React como un componente de Astro
import "../styles/global.css";
import "../styles/index.css";
import "bootstrap/dist/css/bootstrap.min.css";

import ContactmeComponent from "../components/Contactme/ContactmeComponent.astro";
import MainProject from "../components/Projects/MainProject";
import Presentation from "./presentation.astro";
import WorkTogether from "./WorkTogether.astro";
import Technologies from "../components/Technologies/Technologies";
/* import Experience from "./experience.astro";
 */
---

<Layout>
    <main class="">
        <div class="py-5">
            <Presentation />
        </div>

        <div class="py-5">
            <MainProject client:only />
        </div>

        <div class="py-5">
            <WorkTogether/>
        </div>

        <div class="py-5">
            <Technologies client:only/>
        </div>

        <div class="py-5">
            <ContactmeComponent />
        </div>

        <div class="py-5">
            <Me />
        </div>
    </main>
</Layout>
