---
import BtnGmail from "../components/Buttons/BtnGmail.astro";
import BtnLinkedin from "../components/Buttons/BtnLinkedin.astro";
import "../styles/WorkTogether/workTogether.css";
---

<div class="together">
    <div class="row">
        <div class="col colu1-s3">
            <h2>¿Tienes algun proyecto?</h2>
            <h4 class="tittle">No trabajes solo, trabaja conmigo</h4>
        </div>
        <div class="col colu2-s3">
            <BtnGmail />
            <BtnLinkedin />
        </div>
    </div>
</div>
