---
import "../../styles/headerStyles.css"
---

<link
    rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css"
/>

<header class="header">
        <nav>
            <a href="/" class="nav-header">General</a>
            <a href="/experience" class="nav-header">Experiencia </a>
            <a href="/projects" class="nav-header">Proyectos </a>
            <a href="/contactme" class="nav-header">Sobre mi</a>
            <a href="/contactme" class="nav-header">Contactame</a>
        </nav>
</header>
