---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/buttons.css"
---


<button type="submit" class="button">
    Contactame
    <div class="star-1">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(213, 246, 3);">Java</p>
            </g>
        </svg>
    </div>
    <div class="star-2">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(3, 247, 255);">Js</p>
            </g>
        </svg>
    </div>

    <div class="star-7">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(3, 247, 255);">Py</p>
            </g>
        </svg>
    </div>

    <div class="star-3">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(133, 227, 133);">SQL</p>
            </g>
        </svg>
    </div>
    <div class="star-4">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(255, 162, 0);">C#</p>
            </g>
        </svg>
    </div>
    <div class="star-5">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(59, 13, 243);">C++</p>
            </g>
        </svg>
    </div>
    <div class="star-6">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            version="1.1"
            style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
            viewBox="0 0 784.11 815.53"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs></defs>
            <g id="Layer_x0020_1">
                <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                <p style="color: rgb(225, 4, 4);">php</p>
            </g>
        </svg>
    </div>
</button>
