---
import "../styles/footerStyle.css";
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/Buttons.css";
import BtnContactame from "./BtnContactame.astro";
---

<link
    rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css"
/>

<footer class="footer">
    <div class="social-icons">
        <a
            href="https://www.linkedin.com/in/manuel-zepeda-79383a33a/"
            class="social-link"
        >
            <i class="fi fi-brands-linkedin social-icon"></i>
            LinkedIn
        </a>
        <a href="https://github.com/AlexZepeda21" class="social-link">
            <i class="fi fi-brands-github social-icon"></i>
            GitHub
        </a>
    </div>

    <p class="copyright">
        © 2025 Manuel Zepeda. Todos los derechos reservados.
    </p>
</footer>
