---
import "../styles/footerStyle.css";
---

<link
    rel="stylesheet"
    href="https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css"
/>

<footer class="footer">
    <span>
        <p class="contact">
            manuelzepedagr@gmail.com ||
            <a href="#"> Contactame por formulario</a>
        </p>
    </span>

        <a href="https://www.linkedin.com/in/manuel-zepeda-79383a33a/">
            LinkedIn
            <i class="fi fi-brands-linkedin social-icon"></i>
        </a>
    
        <a href="https://github.com/AlexZepeda21">
            GitHub
            <i class="fi fi-brands-github social-icon"></i>
        </a>

    <p class="copyright">
        © 2025 Manuel Alexader Zepeda Grijalva. Todos los derechos reservados.
    </p>
</footer>
