---
import miImg from "../assets/images/miImg.png";
import  "../styles/headerStyles.css"
---
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-chubby/css/uicons-solid-chubby.css'>
<header class="header">

    <img src={miImg.src} class="img"/>
    <nav>
        <a href="" class="nav-footer">Home </a> 
        <a href="" class="nav-footer">About </a>
        <a href="" class="nav-footer">Ver más </a>
        <a href="" class="nav-footer">Projects </a>
    </nav>
    
</header>
