---
//components

//Bootstrap
import "bootstrap/dist/css/bootstrap.min.css";

//CSS
import "../../styles/contactme.css";
import Btncode from "../Buttons/BtnCode";

const nameCode = "Contactame";
const link = "https://www.linkedin.com/in/manuel-zepeda-79383a33a/";
---

<section class="form-wrapper">
  <form>
    <div class="custom-card">
      <div class="form-group">
        <h1 class="tittle-contact" style="color: white;">
          Ingrese su correo electrónico
        </h1>
        <input
          type="email"
          class="form-control"
          placeholder="ejemplo@correo.com"
          style="color: aliceblue;"
        />
      </div>

      <div class="form-group">
        <h1 class="tittle-contact" style="color: white;">
          ¿Cuál es su nombre?
        </h1>
        <input
          type="text"
          class="form-control"
          placeholder="Escribe tu nombre"
          style="color: aliceblue;"
        />
      </div>

      <div class="form-group">
        <h1 class="tittle-contact" style="color: white;">
          ¿Cuál es su número telefónico?
        </h1>
        <input
          type="tel"
          class="form-control"
          placeholder="Tu número"
          style="color: aliceblue;"
        />
      </div>

      <div class="form-group">
        <h1 class="tittle-contact" style="color: white;">
          Motivo
        </h1>
        <input
          type="text"
          class="form-control"
          placeholder="Escribe el motivo"
          style="color: aliceblue;"
        />
      </div>

      <div style="color: white;">
        <Btncode nameButton={nameCode}, link={link}/>
      </div>
    </div>
  </form>
</section>
