---
import HeaderComponent from "../components/GlobalComponents/HeaderComponent.astro";
import FooterComponent from "../components/GlobalComponents/FooterComponent.astro";
import "../styles/Fonts.css";
---

<script src="../components/startCanvas.js"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Manuel Zepeda WebSite</title>
    </head>
    <header>
        <HeaderComponent />
    </header>

    <body>
        <canvas id="starsCanvas"></canvas>
        <slot 
        
        />
    </body>

    <footer>
        <FooterComponent />
    </footer>


</html>
